<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kb_hack.backend.domain.article.mapper.ArticleMapper">

    <insert id="insertArticle" parameterType="kb_hack.backend.domain.article.mapper.ArticleMapper">
        INSERT INTO articles (title, content, category, author, published_at, article_url)
        VALUES (#{title}, #{content}, #{category}, #{author}, #{publishedAt}, #{articleUrl})
    </insert>

    <select id="existsByArticleUrl" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM articles WHERE article_url = #{articleUrl})
    </select>
</mapper>
