<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kb_hack.backend.domain.alarm.mapper.AlarmMapper">

    <resultMap id="Map" type="kb_hack.backend.domain.alarm.AlarmPreference">
        <id     property="alarmPreferenceId" column="alarm_preference_id"/>
        <result property="memberId"          column="member_id"/>
        <result property="sosPreference"     column="sos_preference"/>
        <result property="announcePreference" column="announce_preference"/>
        <result property="alarmStartTime"    column="alarm_start_time"/>
        <result property="alarmEndTime"      column="alarm_end_time"/>
        <result property="isAlarm"           column="is_alarm"/>
    </resultMap>

    <select id="findById" resultMap="Map">
        SELECT * FROM alarm_preference
        WHERE member_id = #{memberId}
    </select>

    <insert id="upsert">
        insert into alarm_preference
        (member_id, sos_preference, announce_preference, alarm_start_time, alarm_end_time, is_alarm)
         values  (#{p.memberId}, #{p.sosPreference}, #{p.announcePreference}, #{p.alarmStartTime}, #{p.alarmEndTime}, #{p.isAlarm})
             ON DUPLICATE KEY UPDATE
                                  sos_preference      = VALUES(sos_preference),
                                  announce_preference = VALUES(announce_preference),
                                  alarm_start_time    = VALUES(alarm_start_time),
                                  alarm_end_time      = VALUES(alarm_end_time),
                                  is_alarm            = VALUES(is_alarm)
        </insert>
</mapper>
