<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kb_hack.backend.domain.alarm.mapper.AlarmMapper">

    <resultMap id="Map" type="kb_hack.backend.domain.alarm.AlarmPreference">
        <id     property="alarmPreferenceId" column="alarm_preference_id"/>
        <result property="memberId"          column="member_id"/>
        <result property="sosPreference"     column="sos_preference"/>
        <result property="announcePreference" column="announce_preference"/>
        <result property="alarmStartTime"    column="alarm_start_time"/>
        <result property="alarmEndTime"      column="alarm_end_time"/>
        <result property="isAlarm"           column="is_alarm"/>
    </resultMap>

    <resultMap id="NotificationMap" type="kb_hack.backend.domain.alarm.Notification">
        <id property="notificationId" column="notification_id"/>
        <result property="memberId" column="member_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="notiType" column="noti_type"/>
        <result property="isRead" column="is_read"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>


    <select id="findById" resultMap="Map">
        SELECT * FROM alarm_preference
        WHERE member_id = #{memberId}
    </select>

    <update id="updateSelective" parameterType="kb_hack.backend.domain.alarm.AlarmPreference">
        UPDATE alarm_preference
        <set>
            <if test="announcePreference != null">announce_preference = #{announcePreference},</if>
            <if test="sosPreference != null">sos_preference = #{sosPreference},</if>
            <if test="isAlarm != null">is_alarm = #{isAlarm},</if>
            <if test="alarmStartTime != null">alarm_start_time = #{alarmStartTime},</if>
            <if test="alarmEndTime != null">alarm_end_time = #{alarmEndTime},</if>
        </set>
        WHERE member_id = #{memberId}
    </update>

    <insert id="insertPreference" parameterType="kb_hack.backend.domain.alarm.AlarmPreference">
        INSERT INTO alarm_preference
        (member_id, sos_preference, announce_preference, is_alarm, alarm_start_time, alarm_end_time)
        VALUES (#{memberId}, #{sosPreference}, #{announcePreference}, #{isAlarm}, #{alarmStartTime}, #{alarmEndTime})
    </insert>

    <insert id="insert">
        insert into notification  (member_id, title, content, noti_type, is_read)
        values  (#{p.memberId}, #{p.title}, #{p.content}, #{p.notiType}, 0)
    </insert>

    <select id="findByMemberId" resultMap="NotificationMap">
        SELECT n.*
        FROM notification n
                 JOIN alarm_preference np ON n.member_id = np.member_id
        WHERE n.member_id = #{memberId}
          and(
              n.noti_type in ("notice" ,"festival")
              or(n.noti_type='sos' and np.sos_preference=1)
              or (n.noti_type='announce' and np.announce_preference=1)
            )
          AND (
            np.is_alarm = 0
                OR (
                np.is_alarm = 1
                    AND NOT (
                    (np.alarm_start_time &lt; np.alarm_end_time
                        AND n.created_at BETWEEN np.alarm_start_time AND np.alarm_end_time)
                        OR
                    (np.alarm_start_time &gt; np.alarm_end_time
                        AND (n.created_at &gt;= np.alarm_start_time OR n.created_at &lt;= np.alarm_end_time))
                    )
                )
            )
        ORDER BY n.created_at DESC
    </select>


    <update id="markRead">
        update notification
        set is_read =1
        where member_id =#{memberId}
        and notification_id = #{notificationId}
    </update>

    <update id="markAllRead">
        UPDATE notification
        SET is_read = 1
        WHERE member_id = #{memberId}
    </update>

    <delete id="deleteOne">
        DELETE FROM notification
        WHERE member_id = #{memberId}
          AND notification_id = #{notificationId}
    </delete>

    <delete id="deleteAll">
        DELETE FROM notification
        WHERE member_id = #{memberId}
    </delete>
</mapper>
