<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kb_hack.backend.domain.announce.mapper.AnnounceMapper">

    <resultMap id="announceResultMap" type="kb_hack.backend.domain.announce.Announce">
        <result property="announceId" column="announce_id"/>
        <result property="announceTitle" column="announce_title"/>
        <result property="link" column="link"/>
        <result property="author" column="author"/>
        <result property="excInsttNm" column="exc_insttNm"/>
        <result property="description" column="description"/>
        <result property="lcategory" column="lcategory"/>
        <result property="pubDate" column="pub_date"/>
        <result property="startDate" column="reqst_start_date"/>
        <result property="endDate" column="reqst_end_date"/>
        <result property="targetName" column="taget_name"/>
        <result property="viewNum" column="view_num"/>
        <result property="hashtags" column="hashtags"/>
        <result property="filePathName" column="file_path_name"/>
        <result property="fileName" column="file_name"/>
        <result property="howToRegister" column="how_to_register"/>
        <result property="callCompany" column="call_company"/>
        <result property="printFileName" column="print_file_name"/>
        <result property="printFilePathName" column="print_file_path_name"/>
    </resultMap>


    <insert id="insertAnnounce" parameterType="kb_hack.backend.domain.announce.Announce">
        insert into announce
        (  announce_title, link, author, exc_insttNm, description,
           lcategory, pub_date, reqst_start_date, reqst_end_date,hashtags,
           taget_name, view_num, file_path_name, file_name,
        how_to_register, call_company ,print_file_name , print_file_path_name)
        values (
                   #{announceTitle}, #{link}, #{author}, #{excInsttNm}, #{description},
                   #{lcategory}, #{pubDate}, #{startDate}, #{endDate}, #{hashtags} ,
                   #{targetName}, #{viewNum}, #{filePathName}, #{fileName},
                   #{howToRegister}, #{callCompany} ,#{printFileName} ,#{printFilePathName}
               )

            on duplicate key update
                                 announce_title = values(announce_title),
                                 author         = values(author),
                                 exc_insttNm    = values(exc_insttNm),
                                 description    = values(description),
                                 lcategory      = values(lcategory),
                                 pub_date       = values(pub_date),
                                 hashtags       = values(hashtags),
                                 reqst_start_date = values(reqst_start_date),
                                 reqst_end_date   = values(reqst_end_date),
                                 taget_name     = values(taget_name),
                                 view_num       = values(view_num),
                                 file_path_name = values(file_path_name),
                                 file_name      = values(file_name),
                                 how_to_register= values(how_to_register),
                                 call_company   = values(call_company),
                                 print_file_name = values(print_file_name),
                                 print_file_path_name = values(print_file_path_name),
                                 created_at     = now()
    </insert>

    <update id="increaseViewNum" parameterType="long">
        UPDATE announce
        SET view_num = view_num + 1
        WHERE announce_id = #{announceId}
    </update>


    <select id="findAll" resultMap="announceResultMap">
        select
            announce_id,
            announce_title,
            link,
            author,
            exc_insttNm,
            description,
            lcategory,
            pub_date,
            reqst_start_date,
            reqst_end_date,
            taget_name,
            view_num,
            hashtags,
            file_path_name,
            file_name,
            how_to_register,
            call_company,
            print_file_name,
            print_file_path_name
        from announce
    </select>


    <select id="findById" resultMap="announceResultMap">
        select announce_id,announce_title, link, author, exc_insttNm, description,
               lcategory, pub_date, reqst_start_date, reqst_end_date,
               taget_name, view_num, file_path_name, file_name,hashtags,
               how_to_register, call_company ,print_file_name , print_file_path_name
        from announce
        where announce_id=#{announceId}
    </select>

    <select id="findById2" resultMap="announceResultMap">
        select announce_id,announce_title, link, author, exc_insttNm, description,
               lcategory, pub_date, reqst_start_date, reqst_end_date,
               taget_name, view_num, file_path_name, file_name,hashtags,
               how_to_register, call_company ,print_file_name , print_file_path_name
        from announce
        where announce_id=#{id}
    </select>

    <select id="findTopAnnounces" resultType="kb_hack.backend.domain.announce.dto.AnnounceRankingDTO">
            SELECT announce_id,
                   announce_title,
                   view_num
            FROM announce
            ORDER BY view_num DESC
                LIMIT #{limit}

    </select>
    <select id="findByAnnounceId" resultType="kb_hack.backend.domain.announce.dto.AnnounceRankingDTO">
        SELECT announce_id,
               announce_title,
               view_num
        FROM announce
            WHERE announce_id = #{announceId}

    </select>
</mapper>
