<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kb_hack.backend.domain.home.mapper.HomeMapper">

    <select id="getRecentAnnounce" resultType="kb_hack.backend.domain.home.dto.request.RecentAnnounceDTO">
        SELECT reqst_end_date, announce_title, announce_id
        FROM announce
        ORDER BY created_at DESC
            LIMIT 3
    </select>

    <select id="getRecentFestival" resultType="kb_hack.backend.domain.home.dto.request.RecentFestivalDTO">
        SELECT festival_title, festival_id
        FROM festival
        ORDER BY created_at DESC
            LIMIT 3
    </select>

    <select id="getRecentArticle" resultType="kb_hack.backend.domain.home.dto.request.RecentArticleDTO">
        SELECT title, article_id,article_url
        FROM articles
        ORDER BY created_at DESC
            LIMIT 3
    </select>

    <select id="getNotice" resultType="kb_hack.backend.domain.notice.dto.response.NoticeDTO">
        SELECT notice_id, title
        FROM notice
        ORDER BY created_at DESC
            LIMIT 3
    </select>


</mapper>