<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kb_hack.backend.global.s3.mapper.S3Mapper">

    <insert id="insertProfileImageByUser">
        INSERT INTO profile_image (storage_key, member_id, created_at)
        VALUES (#{storageKey}, #{memberId}, NOW())
    </insert>
    <insert id="insertDefaultProfileImage">
        INSERT INTO profile_image(member_id)
        VALUES (#{memberId})
    </insert>

</mapper>