<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kb_hack.backend.domain.sos.mapper.SosMapper">

    <insert id="insert" parameterType="kb_hack.backend.domain.sos.entity.Sos" useGeneratedKeys="true" keyProperty="sosId" keyColumn="sos_id">
        INSERT INTO sos
        (member_id, sos_title, sos_type, sos_content, expires_at, is_complete)
        VALUES
            (#{memberId}, #{sosTitle}, #{sosType}, #{sosContent}, #{expiresAt}, #{isComplete})
    </insert>

    <!-- UPDATE -->
    <update id="update" parameterType="kb_hack.backend.domain.sos.entity.Sos">
        UPDATE sos
        SET sos_title   = #{sosTitle},
            sos_type    = #{sosType},
            sos_content = #{sosContent},
            expires_at  = #{expiresAt}
        WHERE sos_id = #{sosId}
    </update>

    <!-- 하드 삭제 -->
    <delete id="hardDelete" parameterType="long">
        DELETE FROM sos
        WHERE sos_id = #{sosId}
    </delete>

    <select id="findAll" resultType="kb_hack.backend.domain.sos.dto.SosListResponse">
        SELECT
            s.sos_id,
            s.member_id,
            b.business_nm AS businessName,
            s.sos_title,
            s.sos_type,
            s.created_at,
            s.expires_at,
            b.business_addr,
            b.business_addr_detail,
            i.storage_key AS imageURL
        FROM sos s
                 LEFT JOIN member m ON s.member_id = m.member_id
                 LEFT JOIN business b ON b.member_id = m.member_id
                 LEFT JOIN profile_image i ON i.member_id = m.member_id
        ORDER BY s.created_at DESC;
    </select>


    <select id="findDetail" parameterType="long"
            resultType="kb_hack.backend.domain.sos.dto.SosDetailRow">
        SELECT
            s.sos_id         AS sosId,
            b.business_nm    AS businessName,
            m.badge          AS badge,
            b.business_id,
            b.business_addr  AS businessAddr,
            b.business_addr_detail AS businessAddrDetail,
            s.sos_title      AS sosTitle,
            s.sos_type       AS sosType,
            s.sos_content    AS sosContent,
            s.expires_at     AS expiresAt,
            si.storage_key   AS imageKey,
            s.created_at
        FROM sos s
                 JOIN member m ON s.member_id = m.member_id
                 JOIN business b ON b.member_id = m.member_id
                 LEFT JOIN sos_image si ON si.sos_id = s.sos_id
        WHERE s.sos_id = #{sosId}
    </select>
    <select id="findById" resultType="kb_hack.backend.domain.sos.entity.Sos">
        SELECT *
        FROM sos
        WHERE sos_id = #{sosId}
    </select>

    <select id="findByMemberId" resultType="kb_hack.backend.domain.sos.entity.Sos">
        SELECT *
        FROM sos
        WHERE member_id = #{memberId}
            LIMIT 1
    </select>

</mapper>
